<%# TODO: Redo layout for Bootstrap %>

<div class="edit-user">

  <form method="POST" action="/users/dashboard-<%= @user.id %>">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <h1>Edit your user profile here</h1>
    <p>Required fields are followed by <strong>*</strong>.</p>

    <section>
        <label for="name">Name: <strong>*</strong></label>
        <input id="name" type="text" name="user[name]" value="<%= @user.name %>" required><br>

        <label for="email">Email: <strong>*</strong></label>
        <input id="email" type="email" name="user[email]" value="<%= @user.email %>" required><br>

        <label for="pwd">Password: <strong>*</strong></label>
        <input id="pwd" type="password" name="user[password]" value="<%= @user.password %>" required><br>

        <label for="bday">Birthday: <strong>*</strong></label>
        <%# TODO: Calculate birthdate of someone who is 18 and load that variable into `max` below %>
        <input id="bday" type="date" name="user[birth_date]" max="2000-01-02" value="<%= @user.birth_date %>" required><br>

        <label for="allergies">Known Allergies: </span></label>
        <textarea id="allergies" cols="40" rows="10" name="user[known_allergies]" placeholder="List your known allergies here, even if they're not medications."><%= @user.known_allergies %></textarea><br><br>

        <input type="submit" value="Save Edits"><br><br>

    </section>
  
  </form>

</div>