<%# TODO: Redo layout for Bootstrap %>
<%# TODO: Adjust required inputs %>

<div class="edit-medication">

  <form method="POST" action="/medications/<%= @med.slug %>">
    <h1>Create a new medication here</h1>
    <p>Required fields are followed by <strong>*</strong>.</p>

    <input id="hidden" type="hidden" name="_method" value="PATCH">

    <label for="name">Name: <strong>*</strong></label>
    <input id="name" type="text" name="med[name]" value="<%= @med.name %>" required><br>

    <%# TODO: Change to integer input with a dropdown dosage unit selector %>
    <label for="dos_amt">Dosage Amount: <strong>*</strong></label>
    <input id="dos_amt" type="text" name="med[dosage_amount]" value="<%= @med.dosage_amount %>" required>

    <%# TODO: Change to dropdown picker %>
    <label for="dos_form">Dosage Form: <strong>*</strong></label>
    <input id="dos_form" type="text" name="med[dosage_form]" value="<%= @med.dosage_form %>" required><br>              

    <label for="inst">Usage Instructions: <strong>*</strong></label>
    <textarea id="inst" cols="40" rows="10" name="med[usage_instructions]" placeholder="Usage instruction details here"><%= @med.usage_instructions %></textarea><br>

    <label for="start">Start Date: </label>
    <input id="start" type="month" name="med[start_date]" value="<%= @med.start_date %>">

    <label for="end">End Date: </label>
    <input id="end" type="month" name="med[end_date]" value="<%= @med.end_date %>"><br>

    <label for="doc">Prescribing Doctor: </label>
    <input id="doc" type="text" name="med[prescribing_doctor]" value="<%= @med.prescribing_doctor %>"><br>

    <label for="treatment">Ailment Treated: <strong>*</strong></label>
    <input id="treatment" type="text" name="med[ailment_treated]" value="<%= @med.ailment_treated %>" required><br><br>

    <input type="submit" value="Update Medication">

  </form>

</div>