<%# Didn't want to just delete this code %>

<div class="row">
  <div class="col-6 col-md-3"> <p>Current Dosage Amount:</p> </div>
  <div class="col-6 col-md-3"> <p><%= @med.dosage_amount %></p> </div>
  <div class="col-6 col-md-3"> <p>Dosage Form:</p> </div>
  <div class="col-6 col-md-3"> <p><%= @med.dosage_form %></p> </div>
</div>

<div class="row">
  <div class="col-6 col-md-3"> <p>Usage Instructions:</p> </div>
  <div class="col-6 col-md-3"> <%= @med.usage_instructions %></p> </div>
  <div class="col-6 col-md-3"> <p>Usage Purpose:</p> </div>
  <div class="col-6 col-md-3"> <%= @med.usage_purpose %></p> </div>
</div>

<div class="row">
  <% if @med.start_date %>
    <div class="col-6 col-md-3"> <p>Start Date:</p> </div>
    <div class="col-6 col-md-3"> <p><%= @med.start_date.strftime("%B %Y") %></p> </div>
    <div class="col-6 col-md-3"> <p>End Date:</p> </div>
    <% if @med.end_date %>
      <div class="col-6 col-md-3"> <p><%= @med.end_date.strftime("%B %Y") %></p> </div>
    <% end %>
  <% end %>
</div>

<div class="row">
  <div class="col-6 col-md-3"> <p>Currently Taking?</p> </div>
  <div class="col-6 col-md-3"> <p><%= @med.currently_taking %></p> </div>
  <% if !@med.prescribing_doctor.empty? %>
    <div class="col-6 col-md-3"> <p>Prescribing Doctor:</p> </div>
    <div class="col-6 col-md-3"> <p><%= @med.prescribing_doctor %></p> </div>
  <% end %>
</div>