<div class="row">
  <% @title = "Rxeactions | Medication Details" %>

  <div class="clearfix col-12">
    <a href="/about#medication-detail"><span class="fas fa-question-circle ask"></span></a>
    <h1><%= @med.name %> Medication Details</h1>
  </div>
</div>

<div class="row">
  <% if @med.currently_taking %>
    <div class="col-12">
      <p>I am currently taking <%= @med.name %> at a dosage of <%= @med.dosage_amount %> in <%= @med.dosage_form %> form. My usage instructions are as follows: <%= @med.usage_instructions %></p>
      <p>The purpose of using this medication is for <%= @med.usage_purpose %>. <% if @med.start_date %>I began taking <%= @med.name %> in <%= @med.start_date.strftime("%B %Y") %>.<% end %> <% if !@med.prescribing_doctor.empty? %><%= @med.prescribing_doctor %> is my prescribing doctor.<% end %></p><br>
    </div>
  <% else %>
    <div class="col-12">
      <p>I am no longer taking <%= @med.name %>. My last dosage was <%= @med.dosage_amount %> in <%= @med.dosage_form %> form. My most recent usage instructions were as follows: <%= @med.usage_instructions %></p>
      <p>The purpose of using this medication was for <%= @med.usage_purpose %>. <% if @med.start_date %>I began taking <%= @med.name %> in <%= @med.start_date.strftime("%B %Y") %> and ended in <% if @med.end_date %><%= @med.end_date.strftime("%B %Y") %><% end %>.<% end %> <% if !@med.prescribing_doctor.empty? %><%= @med.prescribing_doctor %> prescribed me this medication.<% end %></p><br>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-3"> <p>Medication created on:</p> </div>
  <div class="col-9"> <p><%= @med.created_at.strftime("%A, %B %d, %Y") %></p> </div>
</div>

<% if @med.updated_at.strftime("%A, %B %d, %Y") != @med.created_at.strftime("%A, %B %d, %Y") %>
  <div class="row">
    <div class="col-3"> <p>Medication updated on:</p> </div>
    <div class="col-9"> <p><%= @med.updated_at.strftime("%A, %B %d, %Y") %></p> </div>
  </div>
<% end %>

<div class="row justify-content-center">
  <div class="text-center col-12 col-md-3">
    <a class="btn" href="/medications/<%= @med.slug %>/edit">Edit Medication</a>
  </div>
  <% if @med.currently_taking %>
    <div class="text-center col-12 col-md-4">
      <a class="btn" href="/medications/<%= @med.slug %>/stop-med">Stop Taking Medication</a>
    </div>
  <% end %>
  <div class="text-center col-12 col-md-3">
    <form method="POST" action="/medications/<%= @med.slug %>">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <input class="btn delete-btn" type="submit" value="Delete Medication">
    </form>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-6">
    <h2>Medication Reactions</h2>

    <%= erb :'/application/list_reactions' %>
  </div>
  <div class="col-12 col-md-6">
    <h2>Record a New Reaction</h2>

    <%= erb :'/application/new_reaction_form' %>
  </div>
</div>

<div class="row">
  <div class="text-center col-12">
    <a class="btn back-btn" href="/users/<%= @med.user_id %>">Return to your user dashboard</a>
  </div>
</div>