<div class="row">
  <% @title = "Rxeactions | Medication Details" %>

  <div class="clearfix col-12">
    <a href="/about#medication-detail"><span class="fas fa-question-circle ask"></span></a>
    <h1><%= @med.name %> Medication Details</h1>
  </div>
</div>

<div class="row">
  <div class="col-6 col-md-3"> <p>Dosage Amount:</p> </div>
  <div class="col-6 col-md-3"> <p><%= @med.dosage_amount %></p> </div>
  <div class="col-6 col-md-3"> <p>Dosage Form:</p> </div>
  <div class="col-6 col-md-3"> <p><%= @med.dosage_form %></p> </div>
</div>

<div class="row">
  <div class="col-6 col-md-3"> <p>Usage Instructions:</p> </div>
  <div class="col-6 col-md-3"> <%= @med.usage_instructions %></p> </div>
  <div class="col-6 col-md-3"> <p>Ailment Treated:</p> </div>
  <div class="col-6 col-md-3"> <%= @med.ailment_treated %></p> </div>
</div>

<div class="row">
  <% if @med.start_date %>
    <div class="col-6 col-md-3"> <p>Start Date:</p> </div>
    <div class="col-6 col-md-3"> <p><%= @med.start_date.strftime("%B %Y") %></p> </div>
    <div class="col-6 col-md-3"> <p>End Date:</p> </div>
    <% if @med.end_date %>
      <div class="col-6 col-md-3"> <p><%= @med.end_date.strftime("%B %Y") %></p> </div>
    <% end %>
  <% end %>
</div>

<div class="row">
  <div class="col-6 col-md-3"> <p>Currently Taking?</p> </div>
  <div class="col-6 col-md-3"> <p><%= @med.currently_taking %></p> </div>
  <% if !@med.prescribing_doctor.empty? %>
    <div class="col-6 col-md-3"> <p>Prescribing Doctor:</p> </div>
    <div class="col-6 col-md-3"> <p><%= @med.prescribing_doctor %></p> </div>
  <% end %>
</div>

<div class="row justify-content-center">
  <div class="text-center col-12 col-md-4">
    <a class="btn" href="/medications/<%= @med.slug %>/edit">Edit Medication</a>
  </div>
  <div class="text-center col-12 col-md-4">
    <form method="POST" action="/medications/<%= @med.slug %>">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <input class="btn delete-btn" type="submit" value="Delete Medication">
    </form>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-6">
    <h2>Medication Reactions</h2>

    <%= erb :'/application/list_reactions' %>
  </div>
  <div class="col-12 col-md-6">
    <h2>Record a New Reaction</h2>

    <%= erb :'/application/new_reaction_form' %>
  </div>
</div>

<div class="row">
  <div class="text-center col-12">
    <a class="btn back-btn" href="/users/dashboard-<%= @med.user_id %>">Return to your user dashboard</a>
  </div>
</div>