<%# TODO: Redo layout for Bootstrap %>

<div class="medication-detail">

  <h1>Medication Detail</h1><br>
  <p>Name: <%= @med.name %></p>
  <p>Dosage Amount: <%= @med.dosage_amount %></p>
  <p>Dosage Form: <%= @med.dosage_form %></p>
  <p>Usage Instructions: <%= @med.usage_instructions %></p>
  <p>Prescribing Doctor: <%= @med.prescribing_doctor %></p>
  <p>Start Date: <%= @med.start_date %></p>
  <p>End Date: <%= @med.end_date %></p>
  <p>Ailment Treated: <%= @med.ailment_treated %></p>

</div>