<%# TODO: Redo layout for Bootstrap %>

<div class="medication-detail">

  <h1>Detail page for your medication: <%= @med.name %></h1>

  <h2>Medication Details</h2>
  <p>Dosage Amount: <%= @med.dosage_amount %></p>
  <p>Dosage Form: <%= @med.dosage_form %></p>
  <p>Usage Instructions: <%= @med.usage_instructions %></p>
  <p>Prescribing Doctor: <%= @med.prescribing_doctor %></p>
  <p>Currently Taking? <%= @med.currently_taking %></p>
  <p>Start Date: <%= @med.start_date %></p>
  <% if @med.end_date %><p>End Date: <%= @med.end_date %></p>
  <p>Ailment Treated: <%= @med.ailment_treated %></p><br>

  <h2>Medication Reactions</h2>

  <%= erb :'/application/all_reactions' %>

  <h2>Record a New Reaction</h2>

  <%= erb :'/application/new_reaction_form' %>

</div>