<div class="row">
  <% @title = "Rxeactions | Reaction Details" %>
  
  <div class="clearfix col-12">
    <a href="/about#reaction-detail"><span class="fas fa-question-circle ask"></span></a>
    <h1>Reaction Details for <%= @med.name %></h1>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h2><%= @reax.title %></h2>
  </div>
</div>

<div class="row">
  <div class="col-2"> <p>Entry created at:</p> </div>
  <div class="col-10"> <p><%= @reax.created_at.strftime("%A, %B %d, %Y %I:%M %p") %></p> </div>
</div>

<% if @reax.updated_at.strftime("%A, %B %d, %Y") != @reax.created_at.strftime("%A, %B %d, %Y") %>
  <div class="row">
    <div class="col-2"> <p>Entry updated at:</p> </div>
    <div class="col-10"> <p><%= @reax.updated_at.strftime("%A, %B %d, %Y %I:%M %p") %></p> </div>
  </div>
<% end %>

<div class="row">
  <div class="col-2"> <p>Reaction:</p> </div>
  <div class="col-10"> <p><%= @reax.reaction_detail %></p><br> </div>
</div>

<div class="row">
  <div class="col-3"> <p>Dosage Amount at Time of Entry:</p> </div>
  <div class="col-9"> <p><%= @reax.dosage_amount %></p> </div>
</div>

<div class="row">
  <div class="col-3"> <p>Usage Instructions at Time of Entry:</p> </div>
  <div class="col-9"> <p><%= @reax.usage_instructions %></p> </div>
</div>

<div class="row">
  <div class="col-3"> <p>Present Medication Status:</p> </div>
  <% if @med.currently_taking %>
    <div class="col-9"> <p><%= @med.name %> is on your list of current medications</p> </div>
  <% else %>
    <div class="col-9"> <p><%= @med.name %> is on your list of previous medications</p> </div>
  <% end %>
</div>

<div class="row justify-content-center">
  <div class="text-center col-3">
    <a class="btn" href="/medications/<%= @med.slug %>/reactions-<%= @reax.id %>/edit">Edit Reaction</a>
  </div>
  <div class="text-center col-3">
    <form method="POST" action="/medications/<%= @med.slug %>/reactions-<%= @reax.id %>">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <input class="btn delete-btn" type="submit" value="Delete Reaction">
    </form>
  </div>
</div>

<div class="row">
  <div class="text-center col-12">
    <a class="btn back-btn" href="/medications/<%= @med.slug %>">Return to the <%= @med.name %> Medication Detail Page</a>
  </div>
</div>