<%# TODO: Redo layout for Bootstrap %>

<div class="container-fluid reaction-detail">
  <% @title = "Rxeactions | Reaction Details" %>
  
  <div class="row">
    <div class="col-12">
      <h1>Reaction Details</h1>
      <h2>Title: <%= @reax.title %></h2>
      <p>Medication: <%= @med.name %></p>
      <p>Dosage Amount: <%= @reax.dosage_amount %></p>
      <p>Reaction: <%= @reax.reaction_detail %></p>
      <p>Currently Taking: <%= @med.currently_taking %></p>
      <p>Usage Instructions: <%= @reax.usage_instructions %></p>
      <%# TODO: Format dates and put them side by side %>
      <p>Entry created at: <%= @reax.created_at %></p>
      <% if @reax.updated_at != @reax.created_at %><p>Entry updated at: <%= @reax.updated_at %></p><% end %><br>
    </div>
  </div>  

  <div class="row btn-row">
    <div class="col-auto">
      <a class="btn" href="/medications/<%= @med.slug %>/reactions-<%= @reax.id %>/edit">Edit Reaction</a>
    </div>
    <div class="col-auto">
      <form method="POST" action="/medications/<%= @med.slug %>/reactions-<%= @reax.id %>">
        <input id="hidden" type="hidden" name="_method" value="DELETE">
        <input class="btn delete-btn" type="submit" value="Delete Reaction">
      </form>
    </div>
  </div>
    
  <div class="row btn-row">
    <div class="col-12">
      <a class="btn" href="/medications/<%= @med.slug %>">Return to the <%= @med.name %> detail page</a>
    </div>
  </div>

</div>