<%# Need to separate by current and previous %>

<% @med.reactions.each do |reax| %>
  <p>Title: <a href="/reactions/<%= reax.slug %>"><%= reax.title %></a></p>
  <p>Dosage Amount: <%= reax.dosage_amount %></p>
  <p>Created at: <%= reax.created_at %></p>
  <p>Updated at: <%= reax.updated_at %></p><br>
<% end %>

<% if @med.reactions.empty? %>
  <p>You have not recorded any reactions yet</p>
<% end %>
