<%# Displays a list of all of the current user's current medications %>

<div class="row">
  <% @current_meds.each do |m| %>
    <div class="col-12 iteration">
      <p><a href="/medications/<%= m.slug %>"><%= m.name %></a></p>
      <p>Dosage Amount: <%= m.dosage_amount %></p>
      <p>Dosage Form: <%= m.dosage_form %></p>
      <p>Usage Purpose: <%= m.usage_purpose %></p>
    </div>
  <% end %>
</div>

<% if @current_meds.none? %>
  <div class="row">
    <div class="col-12">
      <p>You are not current taking any medications</p>
    </div>
  </div>
<% end %>