<%# Displays a list of all of the current user's previous medications %>

<% @meds.each do |m| %>
  <% if !m.currently_taking %>
    <p>Name: <a href="/medications/<%= m.slug %>"><%= m.name %></a></p>
    <p>Dosage Amount: <%= m.dosage_amount %></p>
    <p>Dosage Form: <%= m.dosage_form %></p>
    <p>Ailment Treated: <%= m.ailment_treated %></p><br>
  <% end %>
<% end %>

<% if @meds.none? {|m| m.currently_taking == false} %>
  <p>All of your medications are current</p>
<% end %>